.App {
  text-align: center;
  height: 100vh;
}

.background-img {
  position: absolute;
  height: 100%;
}

.front {
  background-color: lightblue;
}

.back {
  background-color: lightpink;
}

.btn-sign-in {
  background-color: purple;
}

.cust-row {
  width: 100%;
}

.badge {
  cursor: pointer;
}

.check-box {
  width: 20px;
  cursor: pointer;
}
